.background {
    text-align: center;
}

.circle {
    margin: 0 auto;
    position: absolute;
    background-color: black;
    width: 40%;
    padding-bottom: 40%;
    height: 0;
    border-radius: 50%;
}

.circle p {
    margin: 0 0;
    color: white;
}

.time {
    font-size: 6vmin;
}

.circle_text{
    height: 20%;
    font-size: 6vmin;
    padding-top: 40%;
    padding-bottom: 40%;
  }